h1, span {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.5rem;
    color: #344150;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 15% 10% 9%;
}

.text-area {
    padding: 0 0 10%;
}

.social-media {
    padding: 0 0 1%;
}

.button {
    color: #000;
    margin: 0% .5%;
}

.btn-hero {
  font-family: 'Fredoka', sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: #344150;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  border: 2px solid #344150;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.btn-hero:hover {
  color: #344150;
  background: #f0dd5d;
}